{% extends 'base.html' %}

{% block title %}
    About
{% endblock %}

{% block main__text_field_about %}
Надоело быть <span style="color: #6478fa">&#x2642; fuckin slaves &#x2642;</span>? Хочешь стать настоящим <span style="color: #6478fa">&#x2642; dangeon master &#x2642;</span>?
Тогда ты пришел к нужным <span style="color: #6478fa">&#x2642; boys &#x2642;</span>, наша <span style="color: #6478fa">&#x2642; fisting &#x2642;</span> техника поможет зарабатывать тебе <span style="color: #6478fa">&#x2642; thee hundred bucks &#x2642;</span> в день без <span style="color: #6478fa">&#x2642; suck some dick &#x2642;</span>.
Просто переходи по <span style="color: #6478fa">&#x2642; next door &#x2642;</span> и <span style="color: #6478fa">&#x2642; welcome to the club Buddy &#x2642;</span>.
{% endblock %}
